# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)


Source/.vs/
Source/obj/
Source/bin/
UserSights/
FCS.exe.config
FCS.pdb
Ballistic/germ_a7v_event/*
Ballistic/germ_at_gun_flak36/*
Ballistic/germ_at_gun_pak40/*
Ballistic/germ_beutepanzer_mk_iv_event/*
Ballistic/germ_garford_putilov_event/*
Ballistic/germ_leopard_2a5_yt_cup_2019/*
Ballistic/germ_panther_II_tutorial/*
Ballistic/germ_pzkpfw_III_ausf_L_tutorial/*
Ballistic/germ_pzkpfw_V_ausf_d_panther_tutorial/*
Ballistic/germ_pzkpfw_VI_ausf_h1_tiger_tutorial/*
Ballistic/uk_challenger_II_yt_cup_2019/*
Ballistic/uk_crusader_aa_mk_2_tutorial/*
Ballistic/uk_garford_putilov_event/*
Ballistic/uk_mark_v_event/*
Ballistic/uk_saint_chamond_event/*
Ballistic/us_amx_13_75/*
Ballistic/us_amx_13_90/*
Ballistic/us_m1a1_abrams_yt_cup_2019/*
Ballistic/us_m26_pershing_tutorial/*
Ballistic/us_m4a2_76w_sherman_tutorial/*
Ballistic/us_m551_football/*
Ballistic/us_t32_tutorial/*
Ballistic/ussr_gaz_mm_72k_without_crew/*
Ballistic/ussr_is_4m_tutorial/*
Ballistic/ussr_m551_football/*
Ballistic/ussr_t_72b3_2017_race/*
Ballistic/ussr_t_80u_race/*
Ballistic/ussr_t_80u_yt_cup_2019/*
Data/germ_a7v_event.txt
Data/germ_at_gun_flak36.txt
Data/germ_at_gun_pak40.txt
Data/germ_beutepanzer_mk_iv_event.txt
Data/germ_garford_putilov_event.txt
Data/germ_leopard_2a5_yt_cup_2019.txt
Data/germ_panther_II_tutorial.txt
Data/germ_pzkpfw_III_ausf_L_tutorial.txt
Data/germ_pzkpfw_V_ausf_d_panther_tutorial.txt
Data/germ_pzkpfw_VI_ausf_h1_tiger_tutorial.txt
Data/germ_sturmmorser_sturmtiger_event.txt
Data/uk_challenger_II_yt_cup_2019.txt
Data/uk_crusader_aa_mk_2_tutorial.txt
Data/uk_garford_putilov_event.txt
Data/uk_mark_v_event.txt
Data/uk_saint_chamond_event.txt
Data/us_amx_13_75.txt
Data/us_amx_13_90.txt
Data/us_m1a1_abrams_yt_cup_2019.txt
Data/us_m26_pershing_tutorial.txt
Data/us_m4a2_76w_sherman_tutorial.txt
Data/us_m551_football.txt
Data/us_t32_tutorial.txt
Data/ussr_gaz_mm_72k_without_crew.txt
Data/ussr_is_4m_tutorial.txt
Data/ussr_m551_football.txt
Data/ussr_t_72b3_2017_race.txt
Data/ussr_t_80u_race.txt
Data/ussr_t_80u_yt_cup_2019.txt
